<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- إذن استخدام الإنترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:targetApi="31">

        <activity android:name=".PaymentDetailActivity" android:exported="false" />
        <activity android:name=".RechargeCardActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".FAQactivity" android:exported="false"/>
        <activity android:name=".GameDetailsActivity" android:exported="false" />
        <activity android:name=".GamesActivity" android:exported="false" />
        <activity android:name=".Offers" android:exported="false"/>
        <activity android:name=".IndividualOffersActivity" android:exported="false"/>
        <activity android:name=".SchoolOffersActivity" android:exported="false"/>
        <activity android:name=".BirthdayOffersActivity" android:exported="false"/>
        <activity android:name=".RewardsActivity" android:exported="false"/>
        <activity android:name=".RedeemActivity" android:exported="false"/>
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".CheckBalanceActivity" android:exported="false" />
        <activity android:name=".CardStatementActivity" android:exported="false"/>
        <activity android:name=".BalanceActivity" android:exported="false" />
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreOnboardingActivity" android:exported="false" />
        <activity android:name=".OnboardingActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
